body {
    /*font-family: Arial, sans-serif;*/
    margin: 0;
    padding: 0;
    height: 100vh;
	  background: #7fdb8d;
	  background: linear-gradient(#a51010cb 0%,#05327fb6 90%);
    background-attachment: fixed;
  }
  
  .container {
    max-width: 800px;
    position:relative;
    margin: 50px auto;
    padding: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
  }
  
  .form-container {
    margin-bottom: 20px;
  }

  h2 {
    text-align: center;
    padding-top:20px;
    font-size:40px;
    text-decoration: underline;
  }
  
  h2, h3 {
    align-self: center;
    margin: 0;
    color: #333;
  }
  
  input[type="text"], textarea {
    margin-left:30px;
    width: 90%;
    padding: 10px;
    border: 1px solid #333;
    font-size:18px;
    border-radius: 4px;
    margin-bottom: 10px;
    background-color: #d0d0d0;
  }
  
  button {
    padding: 10px 20px;
    background-color: #285457;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition:1s;
    margin:1px;
  }
  
  button:hover {
    background-color: #000000;
  }

  .add {
    text-align: center;
    margin-left:342px;
  }
  
  .lists-container {
    display: flex;
    justify-content: space-between;
    padding:5px;
    margin:1px 0;
  }
  
  .list {
    flex-basis: 45%;
    background-color: #d0d0d0;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .list h3 {
    margin-bottom: 10px;
    font-weight: bold;
    color: #333;
  }
  
  ul {
    padding: 0;
    list-style: none;
  }
  
  li {
    padding: 10px;
    background-color: #e76767;
    border-radius: 4px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction:column;
    align-items: flex-start;
    margin-bottom:10px;
  }

  .task-actions {
    display: flex;
  }
  
  .completed {
    background-color: #0ac010bf;
  }
  
  .task-actions button {
    margin-left:10px;
    justify-content: space-between;
    border: none;
    color: white;
    cursor: pointer;
  }

  .timestamp {
    font-size: 12px;
    color: #322c2c;
  }
  